<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarmapp">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splashclock"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_clock_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".countNumber" />
        <activity android:name=".pictureMatching" />
        <activity android:name=".quiz" />
        <activity
            android:name=".math1"
            android:label="@string/title_activity_math1"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".splashScr"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyBroadcastReceiver" />
    </application>

</manifest>